.productsGrid {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    margin: 1rem;
}

/* Responsive scaling of layout */
@media screen and (min-width: 700px) {
    .productsGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1000px) {
    .productsGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1400px) {
    .productsGrid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1700px) {
    .productsGrid {
        grid-template-columns: repeat(5, 1fr);
    }
}