:root {
  /* Scale the navbar depending on the users display height */
  --navbarHeight: calc(45px + 2vh);
  --navbarMargin: 15px;
  --logoGradient: linear-gradient(to bottom right, #2af598, #009efd);
  /* Very high border radii result in a pill shape or a circle depending on the width
     See also: https://stackoverflow.com/questions/18794947/capsule-shape-using-border-radius-without-a-set-width-or-height */
  --pillBorderRadius: 200px;
  --cardMaxHeight: 500px
}

button {
  outline: none;
}